.nav-item {
  background-color: #9796f0;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}
.nav-sty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}
.left-part {
  display: flex;
}
.right-part {
  display: flex;
}
